@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
}

/* ----------------------<navbar>------------------------ */

.z_3 {
    z-index: 3 !important;
}

.gap_35 {
    gap: 35px !important;
}

.connect_button {
    padding: 14px 20px;
    border: transparent;
    border-radius: 50px;
    background: linear-gradient(#FED710, #FF5001);
    transition: 0.3s linear !important;
}

.connect_button:hover {
    box-shadow: #FF5001 !important;
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 3px;
    border-radius: 15px;
    background-color: #ffffff;
    transition: all 300ms linear;
    bottom: 0;
}

.nav-line:hover::after {
    width: 100%;
}

/* ------------------header-section------------------- */
.header-bg-img {
    background-image: url("../images/png/header-bg-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.lh_150 {
    line-height: 150%;
}

.pt_75 {
    padding-top: 75px;
}

.z_3 {
    z-index: 3 !important;
}

.z_4 {
    z-index: 4 !important;
}

.yellow_dinosor {
    bottom: 0;
    right: 0%;
    max-width: 130px;
}

.grey_dinosor {
    bottom: 0;
    right: 28%;
    max-width: 100px;
}

.golden_dinosor {
    bottom: 0;
    left: 21%;
    max-width: 100px;
}

.pink_dinosor {
    bottom: 0;
    left: -3%;
    max-width: 120px;
}

.min_vh_60 {
    min-height: 60vh;
}

/* -------------------welcome-section----------------- */
.brick_dinosor_img {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat !important;
}

.text_gridient_orange {
    background: linear-gradient(to bottom, #fed710 0%, #ff5001 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.text_gridient_yellow {
    background: linear-gradient(to bottom, #FED710 0%, #FF5001 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.buy_button {
    padding: 14px 20px;
    border: transparent;
    border-radius: 50px;
    background: linear-gradient(#FED710, #FF5001);
    transition: 0.3s linear !important;
}

/* ----------------------roadmap-------------------------- */
.dot_circle {
    padding: 0;
    list-style: none;
}

.dot_circle li {
    padding-left: 12px;
    text-indent: -.7em;
}

.dot_circle li::before {
    content: "• ";
    color: white;
    padding-right: 6px;

}

.lh_174 {
    line-height: 174%;
}

.max_width_514 {
    max-width: 514px;
}

/* ------------------team-------------- */
.team-bg-img {
    background-image: url("../images/png/team-bg-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.team_img {
    border-radius: 18px;
    border: 1.263px solid #FF5001;
}

.border_radius_18 {
    border-radius: 18px;
}

.team_img:hover {
    background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 54.59%, rgba(0, 0, 0, 0.78) 90.17%), url(<path-to-image>), lightgray 50% / cover no-repeat, linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.50);
    backdrop-filter: blur(31.574848175048828px);
}

.slick-track {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.lh_normal {
    line-height: normal;
}

.left_25 {
    left: 25%;
}

.lh_180 {
    line-height: 180%;
}

.black_rectangle {
    width: 100%;
    height: 20px;
    background-color: black;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

@media (max-width:1200px) {
    .overflow_hiddden {
        overflow: hidden;
    }

    .mobile_view {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 300ms linear;
    }

    .line,
    .line1,
    .line2 {
        width: 35px;
        background-color: #ffffff;
        min-height: 3px;
        border-radius: 15px;
        transition: 300ms linear;
    }

    .cross .line {
        transform: rotate(50deg) translate(17px, 14px);
    }

    .cross .line1 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line2 {
        transform: rotate(-50deg) translateY(-50%);
    }

}

@media (min-width:1200px) {
    .min_vh_100 {
        min-height: 100vh !important;
    }

    .mw_633 {
        max-width: 633px;
    }

    .max_width_606 {
        max-width: 606px !important;
    }
}

@media (min-width:991.95px) {
    .mw_941 {
        max-width: 941px !important;
    }

    .pt_lg_150 {
        padding-top: 150px !important;
    }

    .mw_541 {
        max-width: 541px;
    }

    .h_541 {
        height: 541px;
    }

    .pt_100 {
        padding-top: 100px;
    }

    .pb_100 {
        padding-bottom: 100px;
    }
}

@media (min-width:1700px) {
    .yellow_dinosor_xl {
        bottom: 0;
        right: 10%;
        max-width: 480px;
    }

    .grey_dinosor_xl {
        bottom: 0;
        right: 32%;
        max-width: 332px;
    }

    .golden_dinosor_xl {
        bottom: 0;
        left: 31%;
        max-width: 400px;
    }

    .pink_dinosor_xl {
        bottom: 0;
        left: 11%;
        max-width: 490px;
    }

    .ml_140 {
        margin-left: 140px !important;
    }

    .lh_180 {
        line-height: 180%;
    }
}

@media (min-width:1400px) and (max-width:1700px) {
    .yellow_dinosor_4xl {
        bottom: 0;
        right: 8%;
        max-width: 390px;
    }

    .grey_dinosor_4xl {
        bottom: 0;
        right: 32%;
        max-width: 319px;
    }

    .golden_dinosor_4xl {
        bottom: 0;
        left: 24%;
        max-width: 339px;
    }

    .pink_dinosor_4xl {
        bottom: 0;
        left: -1%;
        max-width: 440px;
    }

    .lh_180 {
        line-height: 180%;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .yellow_dinosor_2xl {
        bottom: 0;
        right: 5%;
        max-width: 370px;
    }

    .grey_dinosor_2xl {
        bottom: 0;
        right: 27%;
        max-width: 303px;
    }

    .golden_dinosor_2xl {
        bottom: 0;
        left: 29%;
        max-width: 350px;
    }

    .pink_dinosor_2xl {
        bottom: 0;
        left: 5%;
        max-width: 399px;
    }

    .lh_150 {
        line-height: 150%;
    }
}

@media (min-width:991.95px) and (max-width:1200px) {
    .yellow_dinosor_lg {
        bottom: 0;
        right: 0;
        max-width: 330px;
    }

    .grey_dinosor_lg {
        bottom: 0;
        right: 25%;
        max-width: 280px;
    }

    .golden_dinosor_lg {
        bottom: 0;
        left: 21%;
        max-width: 304px;
    }

    .pink_dinosor_lg {
        bottom: 0;
        left: -3%;
        max-width: 336px;
    }

    .min_vh_60 {
        min-height: 60vh !important;
    }
}

@media (min-width:767.95px) and (max-width:991.95px) {
    .yellow_dinosor_md {
        bottom: 0;
        right: 0;
        max-width: 260px;
    }

    .grey_dinosor_md {
        bottom: 0;
        right: 25%;
        max-width: 230px;
    }

    .golden_dinosor_md {
        bottom: 0;
        left: 21%;
        max-width: 220px;
    }

    .pink_dinosor_md {
        bottom: 0;
        left: -3%;
        max-width: 250px;
    }

    .min_vh_75 {
        min-height: 75vh !important;
    }

    .pt-md-100 {
        padding-top: 100px;
    }
}

@media (min-width:575.95px) and (max-width:767.95px) {
    .yellow_dinosor_sm {
        bottom: 0;
        right: 0;
        max-width: 195px;
    }

    .grey_dinosor_sm {
        bottom: 0;
        right: 25%;
        max-width: 170px;
    }

    .golden_dinosor_sm {
        bottom: 0;
        left: 21%;
        max-width: 170px;
    }

    .pink_dinosor_sm {
        bottom: 0;
        left: -3%;
        max-width: 183px;
    }

    .min_vh_70 {
        min-height: 70vh !important;
    }
}

@media (min-width:767.95px) {
    .h_700 {
        height: 700px !important;
    }

    .pt_76_md {
        padding-top: 76px !important;
    }

    .pb_76_md {
        padding-bottom: 76px !important;
    }
}

@media (min-width:422px) and (max-width:575px) {
    .yellow_dinosor_2sm {
        bottom: 0;
        right: 0;
        max-width: 160px;
    }

    .grey_dinosor_2sm {
        bottom: 0;
        right: 29%;
        max-width: 110px;
    }

    .golden_dinosor_2sm {
        bottom: 0;
        left: 21%;
        max-width: 110px;
    }

    .pink_dinosor_2sm {
        bottom: 0;
        left: -3%;
        max-width: 135px;
    }

    .min_vh_60 {
        min-height: 60vh;
    }
}