@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
}

.bg_lineargradient {
    padding: 6px;
    border-style: solid;
    border-width: 4px;
    border-radius: 17.34px;
    max-width: 422.66px !important;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%) padding-box,
        linear-gradient(black, black 100%) border-box;
}

.bg_card_black {
    padding: 27px 25px 0 25px;
    border-radius: 17.34px;
    /* background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%); */
    backdrop-filter: blur(31.478700637817383px);
}

.br-17 {
    border-radius: 17.34px !important;
}

.nav-pills .nav-link {
    border-radius: 100px !important;
    background: linear-gradient(180deg, #1B1B1B 0%, #090909 100%) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
}

.nav-link {
    padding: 12px 25px !important;
}

.br-inherit {
    border-radius: inherit !important;
}

.my_box {
    max-width: 422.66px !important;
    color: black;
    /* margin: 24px auto; */
}

.my_box {
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
}

.my_box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.text_leneargradint {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.mw-113 {
    max-width: 113.793px;
}

.box {
    padding: 27px 25px 29px 25px !important;
}

.btn-buy {
    padding: 12px 32px !important;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
    border-radius: 114.62px !important;
    border: none;
}

.pt-29 {
    padding-top: 29px;
}

/* .grid-items:hover {
    transition: all 200ms linear;
    transform: scale(1.1);
} */

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
}

.item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.item-2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item-3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.item-4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.item-5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.item-6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.pb-40 {
    padding-bottom: 40px;
}

.btn-explore {
    padding: 13px 25px !important;
    border-radius: 100px !important;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
}

.bg-img-r-stash {
    background-image: url("../images/png/bg-img-r-stash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.royal-stash-box {
    max-width: 1136px !important;
    color: black;
    /* margin: 24px auto; */
}

.royal-stash-box {
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
}

.royal-stash-box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.royal-stash-pad-box {
    padding: 31px 55px 0 54px;
}

.text_linear {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bloody-dinosor-box {
    max-width: 650px !important;
    color: black;
    /* margin: 24px auto; */
}

.bloody-dinosor-box {
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
}

.bloody-dinosor-box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.bloody-dinosor-pad-box {
    padding: 34px 37px;
}

.mw-294 {
    max-width: 294px;
}

.mw-170 {
    max-width: 170px;
}

.mw-rs-img1 {
    max-width: 120px;
}

.gold-box-1 {
    bottom: -14%;
    left: -8%;
}

.gold-box-2 {
    bottom: -14%;
    right: -3%;
}

.z_index-1 {
    z-index: 1 !important;
}

.mw-rs-img2 {
    max-width: 106px;
}

.mh-85 {
    min-height: 85px;
}

.play-btn-orange {
    background: #FF50014D;
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.play-btn-orange2 {
    border-radius: 100px;
    background: #FF5001;
    height: 100px;
    width: 100px;
}

.play-btn-yellow {
    border-radius: 75px;
    background: #FED710;
    width: 75px;
    height: 75px;
}

.play-btn {
    bottom: -12%;
    left: -12%;
}

@media (min-width:576px) {
    .mw-rs-img1 {
        max-width: 129px;
    }

    .mw-rs-img2 {
        max-width: 129px;
    }

    .gold-box-2 {
        bottom: -14%;
        right: -5%;
    }
}

@media (min-width:768px) {
    .item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .item-3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item-4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .item-5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item-6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .pb-91 {
        padding-bottom: 91px !important;
    }

    .gold-box-1 {
        bottom: -14%;
        left: -8%;
    }

    .mw-rs-img1 {
        max-width: 145px;
    }

    .mw-rs-img2 {
        max-width: 129px;
    }
}

@media (min-width:992px) {
    .mw-1027 {
        max-width: 1027px;
    }

    .mw-rs-img1 {
        max-width: 284px;
    }

    .gold-box-1 {
        bottom: -14%;
        left: -8%;
    }

    .lh-174 {
        line-height: 174%;
    }

    .item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .item-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .item-4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item-5 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .item-6 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .mw-rs-img2 {
        max-width: 235px;
    }

    .mw-539 {
        max-width: 539px;
    }

    .pb-124 {
        padding-bottom: 124px !important;
    }
}