@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
}

/*---------------------------khushi----------------------------------------*/

.bg_lineargradient {
    padding: 6px;
    border-style: solid;
    border-width: 4px;
    border-radius: 17.34px;
    max-width: 422.66px !important;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%) padding-box,
        linear-gradient(black, black 100%) border-box;
}

.bg_card_black {
    padding: 27px 25px 0 25px;
    border-radius: 17.34px;
    /* background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%); */
    backdrop-filter: blur(31.478700637817383px);
}

.br-17 {
    border-radius: 17.34px !important;
}

.nav-pills .nav-link {
    border-radius: 100px !important;
    background: linear-gradient(180deg, #1B1B1B 0%, #090909 100%) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
}

.nav-link {
    padding: 12px 25px !important;
}

.br-inherit {
    border-radius: inherit !important;
}

.my_box:hover img {
    transform: scale(1.02);
    transition: all .3s linear;
    /* box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57); */
}

.my_box:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

.my_box {
    max-width: 422.66px !important;
    color: black;
    transition: all .2s linear !important;
    /* margin: 24px auto; */
}

.my_box {
    cursor: pointer !important;
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
    transition: all .3s linear;
    /* box-shadow: 0px 1px 3px 1px #FF5001; */
}

.my_box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
    transition: all .3s linear;
}

.text_leneargradint {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.mw-113 {
    max-width: 113.793px;
}

.box {
    padding: 27px 25px 29px 25px !important;
}

.btn-buy {
    padding: 12px 32px !important;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
    border-radius: 114.62px !important;
    transition: all .2s linear;
    border: none;
}

.btn-buy:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

.pt-29 {
    padding-top: 29px;
}

/* .grid-items:hover {
    transition: all 200ms linear;
    transform: scale(1.1);
} */

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
}

.item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.item-2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item-3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.item-4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.item-5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.item-6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.pb-40 {
    padding-bottom: 40px;
}

.btn-explore {
    border: none !important;
    padding: 13px 25px !important;
    border-radius: 100px !important;
    transition: all .2s linear;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
}

.btn-explore:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

.bg-img-r-stash {
    background-image: url("../images/png/bg-img-r-stash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.royal-stash-box {
    max-width: 1136px !important;
    color: black;
    /* margin: 24px auto; */
}

.royal-stash-box {
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
}

.royal-stash-box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.text_linear {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bloody-dinosor-box {
    max-width: 650px !important;
    color: black;
    /* margin: 24px auto; */
}

.bloody-dinosor-box {
    border-radius: 17.34px;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    position: relative;
    padding: 1.259px;
}

.bloody-dinosor-box::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(180deg, #FF5001 0%, #FED710 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.overflow-x-visible {
    overflow-x: visible;
}

.mw-294 {
    max-width: 294px;
}

.mw-170 {
    max-width: 170px;
}

.mw-rs-img1 {
    max-width: 106px;
}

.gold-box-1 {
    bottom: -14%;
    left: -8%;
}

.gold-box-2 {
    bottom: -14%;
    right: -3%;
}

.z_index-1 {
    z-index: 1 !important;
}

.mw-rs-img2 {
    max-width: 85px;
}

.mh-85 {
    min-height: 85px;
}

.play-btn-orange {
    background: #FF50014D;
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.play-btn-orange2 {
    border-radius: 100px;
    background: #FF5001;
    height: 80px;
    width: 80px;
}

.z-index-2 {
    z-index: 2;
}

.play-btn-yellow {
    border-radius: 75px;
    background: #FED710;
    width: 55px;
    height: 55px;
}

.play-btn {
    bottom: -12%;
    left: -12%;
}

.mw-149 {
    max-width: 149px;
}

.icon_link {
    transition: .3s linear;
    border-radius: 50%;
    background-color: transparent;
}

.icon_link:hover {
    transform: translateY(-7px) !important;
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

.pb-53 {
    padding-bottom: 53px;
}

.opacity_70 {
    opacity: 0.7;
}

.opacity_10 {
    opacity: 0.1;
}

.footer-dinosor {
    max-width: 363px;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.ellipse1 {
    top: -11%;
}

.ellipse1_cir {
    width: 334px;
    height: 334px;
    /* transform: rotate(-162.487deg);
    flex-shrink: 0; */
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
}

.ellipse2 {
    top: 11%;
}

.ellipse1_royal {
    bottom: 4%;
}

.ellipse1_teamb {
    bottom: -13%;
}

.ellipse2_royal {
    top: 21%;
}

.ellipse1_teamt {
    top: -13%;
}

.ellipse2_roadmap {
    top: 45%;
}

.ellipse2_welcome {
    top: 0;
}

.ellipse1_welcome {
    bottom: 0;
}

.ellipse1_roadmap {
    top: 13%;
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-content {
    border-radius: 28px !important;
}

.bg_color_linear_box {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    /* border-radius: 12px !important; */
    padding: 3.259px 3.259px 0 3.259px;
    margin-bottom: -4px;
}

.pt-110 {
    padding-top: 110px !important;
}

.bg_linear {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%) !important;
    border-radius: 50%;
    top: -3%;
    right: -2%;
    width: 40px;
    height: 40px;
}

.play-btn-orange2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #f8d802;
    top: 0;
    left: 0;
    background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px #f8d802, 0px 0px 25px 10px #f8d802;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px #f8d802, 0px 0px 25px 10px #f8d802;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

/*---------------------------------------------------------alka------------------------------------------------------ */
/* ----------------------<navbar>------------------------ */

.z_3 {
    z-index: 3 !important;
}

.gap_35 {
    gap: 35px !important;
}

.connect_button {
    padding: 14px 20px;
    border: transparent;
    border-radius: 50px;
    background: linear-gradient(#FED710, #FF5001);
    transition: 0.3s linear !important;
}

.connect_button:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 3px;
    border-radius: 15px;
    background-color: #ffffff;
    transition: all 300ms linear;
    bottom: 0;
}

.nav-line:hover::after {
    width: 100%;
}

/* ------------------header-section------------------- */
.header-bg-img {
    background-image: url("../images/png/header-bg-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* .lh_150 {
    line-height: 150%;
} */

.pt_75 {
    padding-top: 75px;
}

.z_3 {
    z-index: 3 !important;
}

.z_4 {
    z-index: 4 !important;
}

.yellow_dinosor {
    bottom: 0;
    right: 0;
    max-width: 130px;
}

.grey_dinosor {
    bottom: 0;
    right: 28%;
    max-width: 100px;
}

.golden_dinosor {
    bottom: 0;
    left: 21%;
    max-width: 100px;
}

.pink_dinosor {
    bottom: 0;
    left: -3%;
    max-width: 120px;
}

.min_vh_60 {
    min-height: 60vh;
}

/* -------------------welcome-section----------------- */
.brick_dinosor_img {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat !important;
}

.text_gridient_orange {
    background: linear-gradient(to bottom, #fed710 0%, #ff5001 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.text_gridient_yellow {
    background: linear-gradient(to bottom, #FED710 0%, #FF5001 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
}

.buy_button {
    padding: 14px 20px;
    border: transparent;
    border-radius: 50px;
    background: linear-gradient(#FED710, #FF5001);
    transition: 0.3s linear !important;
}

.buy_button:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 135, 16, 0.57);
}

/* ----------------------roadmap-------------------------- */
.dot_circle {
    padding: 0;
    list-style: none;
}

.dot_circle li {
    padding-left: 12px;
    text-indent: -.7em;
}

.dot_circle li::before {
    content: "• ";
    color: white;
    padding-right: 6px;

}

.lh_174 {
    line-height: 174%;
}

.lh_180 {
    line-height: 180%;
}

.max_width_514 {
    max-width: 514px;
}

/* ------------------team-------------- */
.team-bg-img {
    background-image: url("../images/png/team-bg-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.team_img {
    border-radius: 18px;
    border: 1.263px solid #FF5001;
    cursor: pointer !important;
}

.border_radius_18 {
    border-radius: 18px;
}

.team_img:hover {
    background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 54.59%, rgba(0, 0, 0, 0.78) 90.17%), url(<path-to-image>), lightgray 50% / cover no-repeat, linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.50);
    backdrop-filter: blur(31.574848175048828px);
}

.slick-track {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.lh_normal {
    line-height: normal;
}

.left_25 {
    left: 25%;
}

.black_rectangle {
    width: 100%;
    height: 20px;
    background-color: black;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.royal-stash-pad-box {
    padding: 31px 30px 0 30px;
}


@media (min-width:576px) {
    .mw-rs-img1 {
        max-width: 129px;
    }

    .mw-rs-img2 {
        max-width: 129px;
    }

    .gold-box-2 {
        bottom: -14%;
        right: -5%;
    }

    .footer-dinosor {
        max-width: 135px;
    }

    .play-btn-orange {
        width: 140px;
        height: 140px;
        border-radius: 140px;
    }

    .play-btn-orange2 {
        border-radius: 80px;
        height: 100px;
        width: 100px;
    }

    .play-btn-yellow {
        border-radius: 55px;
        background: #FED710;
        width: 75px;
        height: 75px;
    }
}

@media (min-width:768px) {
    .item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .royal-stash-pad-box {
        padding: 31px 55px 0 54px;
    }

    .item-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .item-3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item-4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .item-5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item-6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .pb-91 {
        padding-bottom: 91px !important;
    }

    .gold-box-1 {
        bottom: -14%;
        left: -8%;
    }

    .mw-rs-img1 {
        max-width: 145px;
    }

    .mw-rs-img2 {
        max-width: 129px;
    }

    .footer-dinosor {
        max-width: 200px;
    }
}

@media (min-width:992px) {
    .mw-1027 {
        max-width: 1027px;
    }

    .mw-rs-img1 {
        max-width: 284px;
    }

    .gold-box-1 {
        bottom: -14%;
        left: -8%;
    }

    .lh-174 {
        line-height: 174%;
    }

    .pt-150 {
        padding-top: 150px !important;
    }

    .item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item-2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .item-3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .item-4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item-5 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .item-6 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .mw-rs-img2 {
        max-width: 235px;
    }

    .mw-539 {
        max-width: 539px;
    }

    .pb-124 {
        padding-bottom: 124px !important;
    }

    .footer-dinosor {
        max-width: 363px;
    }

    .text_nowrap {
        white-space: nowrap !important;
    }
}

@media (max-width:1200px) {
    .overflow_hiddden {
        overflow: hidden;
    }

    .mobile_view {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 300ms linear;
    }

    .line,
    .line1,
    .line2 {
        width: 35px;
        background-color: #ffffff;
        min-height: 3px;
        border-radius: 15px;
        transition: 300ms linear;
    }

    .cross .line {
        transform: rotate(50deg) translate(19px, 17px);
    }

    .cross .line1 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line2 {
        transform: rotate(-50deg) translateY(-50%);
    }

}

@media (min-width:1200px) {
    .min_vh_100 {
        min-height: 100vh !important;
    }

    .mw_633 {
        max-width: 633px;
    }

    .max_width_606 {
        max-width: 606px !important;
    }
}

@media (min-width:991.95px) {
    .mw_941 {
        max-width: 941px !important;
    }

    .pt_lg_150 {
        padding-top: 150px !important;
    }

    .mw_541 {
        max-width: 541px;
    }

    .h_541 {
        height: 541px;
    }

    .pt_100 {
        padding-top: 100px;
    }

    .pb_100 {
        padding-bottom: 100px;
    }
}

@media (min-width:1700px) {
    .yellow_dinosor_xl {
        bottom: 0;
        right: 10%;
        max-width: 480px;
    }

    .grey_dinosor_xl {
        bottom: 0;
        right: 32%;
        max-width: 332px;
    }

    .golden_dinosor_xl {
        bottom: 0;
        left: 31%;
        max-width: 400px;
    }

    .pink_dinosor_xl {
        bottom: 0;
        left: 11%;
        max-width: 490px;
    }

    .ml_140 {
        margin-left: 140px !important;
    }

    .lh_180 {
        line-height: 180%;
    }
}

@media (min-width:1400px) and (max-width:1700px) {
    .yellow_dinosor_4xl {
        bottom: 0;
        right: 8%;
        max-width: 390px;
    }

    .grey_dinosor_4xl {
        bottom: 0;
        right: 32%;
        max-width: 319px;
    }

    .golden_dinosor_4xl {
        bottom: 0;
        left: 24%;
        max-width: 339px;
    }

    .pink_dinosor_4xl {
        bottom: 0;
        left: -1%;
        max-width: 440px;
    }

    .lh_180 {
        line-height: 180%;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .yellow_dinosor_2xl {
        bottom: 0;
        right: 5%;
        max-width: 370px;
    }

    .grey_dinosor_2xl {
        bottom: 0;
        right: 27%;
        max-width: 303px;
    }

    .golden_dinosor_2xl {
        bottom: 0;
        left: 29%;
        max-width: 350px;
    }

    .pink_dinosor_2xl {
        bottom: 0;
        left: 5%;
        max-width: 399px;
    }

    .lh_150 {
        line-height: 150% !important;
    }
}

@media (min-width:991.95px) and (max-width:1200px) {
    .yellow_dinosor_lg {
        bottom: 0;
        right: 0;
        max-width: 330px;
    }

    .grey_dinosor_lg {
        bottom: 0;
        right: 25%;
        max-width: 280px;
    }

    .golden_dinosor_lg {
        bottom: 0;
        left: 21%;
        max-width: 304px;
    }

    .pink_dinosor_lg {
        bottom: 0;
        left: -3%;
        max-width: 336px;
    }

    .min_vh_60 {
        min-height: 60vh !important;
    }
}

@media (min-width:767.95px) and (max-width:991.95px) {
    .yellow_dinosor_md {
        bottom: 0;
        right: 0;
        max-width: 260px;
    }

    .grey_dinosor_md {
        bottom: 0;
        right: 25%;
        max-width: 230px;
    }

    .golden_dinosor_md {
        bottom: 0;
        left: 21%;
        max-width: 220px;
    }

    .pink_dinosor_md {
        bottom: 0;
        left: -3%;
        max-width: 250px;
    }

    .min_vh_75 {
        min-height: 75vh !important;
    }

    .pt-md-100 {
        padding-top: 100px;
    }
}

@media (min-width:575.95px) and (max-width:767.95px) {
    .yellow_dinosor_sm {
        bottom: 0;
        right: 0;
        max-width: 195px;
    }

    .grey_dinosor_sm {
        bottom: 0;
        right: 25%;
        max-width: 170px;
    }

    .golden_dinosor_sm {
        bottom: 0;
        left: 21%;
        max-width: 170px;
    }

    .pink_dinosor_sm {
        bottom: 0;
        left: -3%;
        max-width: 183px;
    }

    .min_vh_70 {
        min-height: 70vh !important;
    }
}

@media (min-width:767.95px) {
    .h_700 {
        height: 700px !important;
    }

    .pt_76_md {
        padding-top: 76px !important;
    }

    .pb_76_md {
        padding-bottom: 76px !important;
    }
}

@media (min-width:422px) and (max-width:575px) {
    .yellow_dinosor_2sm {
        bottom: 0;
        right: 0;
        max-width: 160px;
    }

    .grey_dinosor_2sm {
        bottom: 0;
        right: 29%;
        max-width: 110px;
    }

    .golden_dinosor_2sm {
        bottom: 0;
        left: 21%;
        max-width: 110px;
    }

    .pink_dinosor_2sm {
        bottom: 0;
        left: -3%;
        max-width: 135px;
    }

    .min_vh_60 {
        min-height: 60vh;
    }
}

.animation {
    animation: swing 2s linear infinite;
}

@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.duration_300 {
    transition: 300ms linear;
}

.pointer_event_none {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right bottom, #FED710, #FF5001);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right bottom, #FED710, #FF5001);
}

.z-index-4 {
    z-index: 4;
}

/* back to top scroll btn */
#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: linear-gradient(#fed710, #ff5001);
    box-shadow: 0px 2px 5px #ff5001;
    text-indent: -9999px;
    border: none !important;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 5;

}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

.z-index-6 {
    z-index: 6;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 8px solid #e78b29e7;
}

.text_orange {
    color: #e78b29e7 !important;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 8px solid #e78b29e7;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 8px solid #e78b29e7;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}